body {
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  text-align: center;
}

#banner {
  width: 500px;
}

.rumble-header h2 {
  display: inline-block;
}

#player {
  padding-right: 300px;
}

.rumble-header h2:last-child {
  padding-left: 300px;
}
